@font-face {
  font-family: "futura-pt";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("opentype");
}

.Home {
  /* 首頁最高: 一個屏幕高 */
  max-height: 100vh;
  overflow: hidden;
}

.slick-img {
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.index-content {
  width: 100vw;
  height: 100vh;
  transform: translateY(-100vh);
  h1 {
    font-size: 1.5rem;
    padding-top: 40px;
    letter-spacing: 3px;
    color: rgb(245, 234, 234);
  }
  ul {
    display: flex;
    justify-content: center;

    font-family: "futura-pt", serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2px;
    font-style: normal;

    padding-left: 0;
  }

  li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  li.index-navitem {
    margin: 40vh 6px 0;
    a {
      letter-spacing: 3px;
    }
  }

  li.social-media {
    margin: 30vh 6px 0;
  }

  .social-media {
    fill: rgba(34, 34, 34, 0);
  }

  .icon {
    font-size: 1rem;
    color: black;
    /* 背景的留白搭配padding, border-radius擠出來的 */
    padding: 8px 6px 8px 8px;
    border-radius: 50%;
    background-color: white;
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  @media screen and (max-width: 576px) {
    .index-nav {
      flex-direction: column;

      li.index-navitem {
        margin: 2vh 6px 0;

        &:first-child {
          margin-top: 32vh;
        }
      }
    }

    li.social-media {
      margin: 27vh 6px 0;
    }
  }
}
