@font-face {
  font-family: "Botanika";
  src: url("../fonts/Mono/Botanika Mono Medium.otf") format("opentype");
}

@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo/Chivo-Regular.ttf") format("opentype");
}

.custom-nav {
  display: flex;

  .nav-logo {
    padding: 6px 10px 10px;
    font-weight: 600;
    font-size: 1.6rem;
    margin-right: auto;
    letter-spacing: 4px;
    font-family: "Botanika", serif;
  }

  .nav-items {
    font-size: 1rem;
    font-family: "Chivo", serif;

    .item {
      padding: 10px;
      a {
        /**
         * 全部大寫: uppercase,
         * 第1個字大寫: capitalize
         */
        text-transform: uppercase;

        color: var(--text-color);
        text-decoration: none;

        &:hover {
          color: var(--black);
        }
      }
    }
  }
}

nav {
  z-index: 10;
  transition: 0.5s;
  padding: 60px 20px 10px;
  /**
   * 目前使用bootstrap shadow，就不用寫樣式
   * 參考網站: https://getbootstrap.com/docs/4.1/utilities/shadows/
   *
   * box-shadow: 0 5px 20px rgba(0,0,0,0.1);
   */
}

nav.sticky {
  background: var(--white);
  padding: 20px 20px 10px;
  position: sticky;
  transition: 0.5s;
  top: 0;
  left: 0;
}

.nav-items-mobile {
  cursor: pointer;
  margin-top: 10px;
  /* 為了 custom-dropdown-menu */
  position: relative;

  .fas {
    font-size: 1.45rem;
  }
}

/* 側邊欄下拉式選單 */
.custom-dropdown-menu {
  position: fixed;
  background: white;
  top: 122px;
  right: 0;
  transition: 0.5s;
  /* 長寬 */
  height: 100vh;
  width: 100vw;
}


ul.custom-dropdown-menu {
  padding-left: 0;
  list-style: none;

  li {
    margin: 20px;

    a {
      text-decoration: none;
      text-align: center;
      color: black;
      font-size: 1.5rem;
      font-family: 'Chivo';
      letter-spacing: 1px;

      &:hover {
        color: var(--brown-grey);
      }
    }

    &:first-child {
      margin-top: 90px;
    }
  }
}
