:root {
  --nonstop-purple: #6f6891;
  --nonstop-green: #6b99a9;
  --dark-green-blue: #297a6f;
  /*= Eslite =*/
  --ocean-blue: #0260a6;
  --pinkish: #e55970;
  --yellowish-orange: #ffa311;
  --sepia: #8a6927;
  --very-light-pink: #fde8e8;
  --military-green: #545e3a;
  --nice-blue: #0a8ca8;
  --dark-lime-green: #70b102;
  --rouge: #a82130;
  --light-eggplant: #7a4d9a;
  --brown-grey: #999999;
  --greyish-brown: #6a625a;
  --black: #000000;
  --brownish-grey: #666666;
  --white: #ffffff;
  --very-light-pink-two: #cccccc;
  --very-light-pink-three: #dddddd;
  --gray-dark: #3e3a39;

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*= 10 school =*/
  --ten-school-blue: #195B8D;
  --ten-school-light-blue: #0E6F9A;
  --ten-school-dark-blue: #1A4F83;
  --ten-school-title-blue: #185A94;
  --ten-school-pink: #D11C7D;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== markdown ===========*/
  --font-color: rgba(36, 44, 63, 1);
  --link-color: rgba(236, 100, 75, 1);
  --bg-color: rgba(253, 253, 253, 1);
  --link-contrast: rgba(36, 44, 63, 0.2);
  --code-border-color: rgba(253, 253, 253, 0);
}

/**
 * container width
 */
$container-width-xl: 1272px;
$container-width-lg: 960px;
$container-width-md: 768px;
$container-width-sm: 540px;
$container-width-default: 100%;

/**
 * common
 */
$bootstrap-default-padding: 15px;

/*====== breakpoints ======*/
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1280px;

@mixin mediaMax($size) {
  @media (max-width: #{$size - 1px}) { @content; }
}
@mixin mediaMin($size) {
  @media (min-width: $size ) { @content; }
}

$breakpointNextSize: (
        $grid-breakpoints-sm: $grid-breakpoints-md,
        $grid-breakpoints-md: $grid-breakpoints-lg,
        $grid-breakpoints-lg: $grid-breakpoints-xl
);

@function getBreakpointUpperBound($size) {
  $max: map-get($breakpointNextSize, $size);
  @if $max {
    @return $max - 1px;
  }
  @return $max;
};

@mixin mediaIs($size) {
  $maxSize: getBreakpointUpperBound($size);
  @if $maxSize {
    @media (min-width: $size) and (max-width: $maxSize) { @content; }
  }
  @else {
    @media (min-width: $size) { @content; }
  }
}

// media range min to (max -1px)
@mixin mediaRange($minSize, $maxSize) {
  @media screen and (min-width: $minSize) and (max-width: $maxSize - 1px) { @content; }
}

/*====== 電腦 ======*/
@mixin pc {
  @media screen and (min-width: $grid-breakpoints-lg) {
    @content;
  }
}
/*====== 平板 ======*/
@mixin pad {
  @media screen and (min-width:$grid-breakpoints-md) and (max-width: $grid-breakpoints-lg - 1px) {
    @content;
  }
}
/*====== 小平板 ======*/
@mixin small-pad {
  @media screen and (min-width: $grid-breakpoints-sm) and (max-width: $grid-breakpoints-md - 1px) {
    @content;
  }
}
/*===== 手機 ======*/
@mixin phone {
  @media screen and (max-width: $grid-breakpoints-sm) {
    @content;
  }
}